.starRank {
  font-family: "Meow Script", cursive;
  font-size: x-large;
  display: flex;

  align-items: center;
}

.starLineCont {
  width: 65%;
  margin-left: 80px;
  background-color: grey;
  border-radius: 20px;
  height: 40px;
  padding: 6.5px;
}

.starLine {
  height: 100%;
  background-color: darkred;
  border-radius: 20px;
  width: 0%;
}

.starRank:last-child {
  margin-left: 15px;
}
.starRank:last-child .starLineCont {
  width: 66%;
}

@media (max-width: 700px) {
  .starRank {
    font-size: medium;
    width: 100%;
  }
  .starRank h3 {
    margin-right: 1rem;
  }
  .starLineCont {
    height: 20px;
    margin-left: 0px;
    width: 80%;
  }
  .starRank:last-child {
    margin-left: 0px;
  }
  .starRank:last-child .starLineCont {
    width: 69%;
  }
}
