.featuredBook {
  display: flex;

  padding: 2rem;
  color: rgb(255, 244, 244);
  background: rgb(238, 174, 209);
  background: radial-gradient(
    circle,
    rgba(238, 174, 209, 1) 13%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 110%;
  height: 20rem;
  align-items: center;
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;

  margin-bottom: 50px;
}

.content {
  width: 70%;
  padding: 20px;
}

.content h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}
.content p {
  color: whitesmoke;
  font-size: smaller;
  margin-bottom: 10px;
}

.imgContainer {
  margin-top: 75px;
  width: 43%;
  height: 280px;
  box-shadow: -7px 3px 16px 3px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: -7px 3px 16px 3px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: -7px 3px 16px 3px rgba(0, 0, 0, 0.84);
  margin-right: 1rem;
}

.image {
  height: 280px;
  width: 100%;
}

.btn {
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
  color: rgb(209, 53, 53);
  font-weight: bold;
  outline: none;
  border: none;
  box-shadow: 1px 8px 13px rgb(66, 65, 65);
  margin-top: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

@media (max-width: 700px) {
  .featuredBook {
    width: 105%;
    padding: 0rem 2rem;
  }
  .imgContainer {
    height: 120px;
    margin-top: 5px;
    width: 50%;
  }
  .image {
    height: 320px;
  }
  .content {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .btn {
    padding: 8px;
    font-size: 13px;
  }
  .content p {
    margin-bottom: 0px;
  }
}
